<% content_for :head do %>
<script>
	/* All you have to do is to call
	 * a box() function on a selection
	 */

	$(document).ready(function() {
		$(".tabs").tabs();

		$("#auctions_table").tablesorter({widthFixed: true, widgets: ['zebra'], headers: {4:{sorter: false}}})
					.tablesorterPager({container: $("#auctions_pager"), positionFixed: false});

		$("#details_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#details_pager"), positionFixed: false});

		$("#rebates_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#rebates_pager"), positionFixed: false});

		
	});
</script>
<% end %>

<div class="tabs">
	<ul>
		<li><a href="#merchant_reports">Reports</a></li>
		<li><a href="#merchant_account">Account</a></li>
	</ul>
	<div id="merchant_reports">
		<div class="tabs">
			<ul>
				<li><a href="#merchant_auctions">Auctions</a></li>
				<li><a href="#merchant_details">Details</a></li>
				<li><a href="#merchant_rebates">Rebate Status</a></li>
			</ul>
			<div id="merchant_auctions">
				<div id="auctions_pager" class="pager">
					<form>
						<img src="images/first.png" class="first"/>
						<img src="images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="images/next.png" class="next"/>
						<img src="images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="auctions_table" class="tablesorter">
					<thead>
						<tr>
							<th>Merchant Name</th>
							<th>Purchasers</th>
							<th>Current Rebate</th>
							<th>Current Price</th>
							<th><input type="button" value="End All Auctions" /></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Happy Jack Software</td>
							<td>11255</td>
							<td>$29</td>
							<td>$554</td>
							<td><input type="button" value="End Auction Early" /></td>
						</tr>
						<tr>
							<td>John Doe Industries</td>
							<td>152</td>
							<td>$23</td>
							<td>$305</td>
							<td><input type="button" value="End Auction Early" /></td>
						</tr>
						<tr>
							<td>Widget Studios</td>
							<td>564</td>
							<td>$82</td>
							<td>$322</td>
							<td><input type="button" value="End Auction Early" /></td>
						</tr>
						<tr>
							<td>Nother Company</td>
							<td>882</td>
							<td>$557</td>
							<td>$5225</td>
							<td><input type="button" value="End Auction Early" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="merchant_details">
				<div id="details_pager" class="pager">
					<form>
						<img src="images/first.png" class="first"/>
						<img src="images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="images/next.png" class="next"/>
						<img src="images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="details_table" class="tablesorter">
					<thead>
						<tr>
							<th>Product</th>
							<th>Start Price</th>
							<th>Current Price</th>
							<th>Lowest Price</th>
							<th>Current Buyers</th>
							<th>Max Buyers</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Happy Jack Software</td>
							<td>$300</td>
							<td>$290</td>
							<td>$250</td>
							<td>25</td>
							<td>75</td>
						</tr>
						<tr>
							<td>John Doe Industries</td>
							<td>$720</td>
							<td>$590</td>
							<td>$350</td>
							<td>23</td>
							<td>95</td>
						</tr>
						<tr>
							<td>Widget Studios</td>
							<td>$600</td>
							<td>$590</td>
							<td>$450</td>
							<td>84</td>
							<td>250</td>
						</tr>
						<tr>
							<td>Nother Company</td>
							<td>$30</td>
							<td>$28</td>
							<td>$25</td>
							<td>3</td>
							<td>250</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="merchant_rebates">
				<div id="rebates_pager" class="pager">
					<form>
						<img src="images/first.png" class="first"/>
						<img src="images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="images/next.png" class="next"/>
						<img src="images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="rebates_table" class="tablesorter">
					<thead>
						<tr>
							<th>Merchant Name</th>
							<th>Product</th>
							<th>Rebate Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width:20%">Happy Jack Software</td>
							<td style="width:20%">Best Software Suite</td>
							<td>Check Sent<br /> <img src="images/check_sent.png" alt="2" /></td>
						</tr>
						<tr>
							<td>John Doe Industries</td>
							<td>Identity Security</td>
							<td>Completed<br /> <img src="images/completed.png" alt="1" /></td>
						</tr>
						<tr>
							<td>Widget Studios</td>
							<td>Doodad</td>
							<td>In Progress<br /> <img src="images/in_progress.png" alt="0" /></td>
						</tr>
						<tr>
							<td>Nother Company</td>
							<td>Nother Doodad</td>
							<td>Completed<br /> <img src="images/completed.png" alt="1" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="merchant_account">
		<div class="tabs">
			<ul>
				<li><a href="#merchant_paypal">PayPal</a></li>
				<li><a href="#merchant_facebook">Facebook</a></li>
				<li><a href="#merchant_password">Password</a></li>
			</ul>
			<div id="merchant_paypal">
				<% form_for(@merchant) do |f| %>
				<div style="width:160px; float:left; clear:both">Paypal Email Address:</div>
					<%= f.text_field :merchant_paypal, :size => 35 %>
					<%= image_submit_tag '/images/next.png', :id => session[:user_id] %>
				<% end %>
			</div>
			<div id="merchant_facebook">
				<% form_for(@merchant) do |f| %>
					<div style="width:150px; float:left; clear:both">Facebook Page ID:</div>
					<%= f.text_field :merchant_fb_page, :size => 35 %>
					<%= image_submit_tag '/images/next.png', :id => session[:user_id] %>
				<% end %>
			</div>
		</div>
	</div>
</div>
