<div class="ayopa_login_content">
	<div class="roundedCorners" style="width:460px">
		<% form_tag forgot_password_path, :id => "forgotForm" do -%>          
				<div class="create_account_text">
		    	<div class="have_account">
						<h1>Forgot Your Password?</h1>
						<hr />
						Please enter your email below and a password reset link will be sent to you.
						<br /> <br />
					</div>
					Email:<br />
					<input type="text" name="email" size="30"/>
					<br /><br />
					<%= submit_tag "Reset" %>
		      <br />  
				</div>	
		<% end -%>
	</div>
</div>