<div class="ayopa_login_content">
	<div class="roundedCorners" style="width:500px">
		<h1>Log in to ayopa</h1>
		<hr />
		Don't have an account? <a href="<%= new_account_path %>" target="_parent">Create One!</a><br />
		<br />
		<% form_tag ({:action => 'login'}, {:target => "_parent"}) do %>
			   <div style="width:100px; float:left">Username:</div><input id="userName" type="text" name="userName" size="35" value="" tabindex="1"/>
			<br /><br />
		       <div style="width:100px; float:left; clear:both">Password:</div><input id="password" type="password" name="password" size="35" value="" tabindex="2"/>
		<br /><br />
				
				<%= image_submit_tag '/images/retailer_login.png', :style => "float:right" %>

				<% end %>
		       <input type="checkbox" name="remember" value="yes"/>&nbsp;Remember Me&nbsp;
			   
		<!--	<input type="submit" value="Log in" style="float:right" /> -->
		<!--	<a href="<%= admin_home_url %>" target="_parent"><img src="images/retailer_login.png" style="float:right"></a>-->
	</div>
	
	<div class="clear"></div>
</div>

<div style="padding-left:34px; position:relative; top:-10px"><a href="<%= forgot_password_path %>">Forgot your Password?</a></div>


