<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ayopa | Make your market</title>
	
	<link rel="shortcut icon" href="/images/favicon1.png" type="image/x-icon" />
	<%= stylesheet_link_tag "page.css", :cache => false %>
	
	
	<script type="text/javascript" src="/javascripts/jquery-1.5.2.min.js"></script>
	<script src="/javascripts/jquery.ui.draggable.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.alert.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.tablesorter.pager.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" type="text/javascript"></script>
	
	<link href="/stylesheets/jquery.alert.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/stylesheets/themes/blue/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" type="text/css" media="all" />
	
	<script language="javascript">
		$(document).ready(function() {
			
			<% unless flash[:alert].blank? -%>
			  jAlert('<%= flash[:alert] %>');
			<% end -%>
			
		});
	</script>
	
	<%= yield :head %>
	
	
	
</head>
<body>
	<div class="ayopa_page">
		<!-- ********************************************************************* -->
		<!-- *********************** HEADER AND NAVIGATION *********************** -->
		<!-- ********************************************************************* -->
		<div class="ayopa_site_header">
			<div class="ayopa_site_header_left"></div>
			<div class="ayopa_site_header_right"></div>
			<div class="ayopa_site_header_content">
				<div class="ayopa_login_button">
					<a href="http://www.ayopasoft.com">
					<img src="images/logout.png" alt="ayopa Log Out" title="ayopa Log Out" />
					</a>
				</div>
				<a href="http://www.ayopasoft.com/index.html">
					<img src="images/ayopa_software_tag_logo.png" alt="ayopa Home Page" title="ayopa Home Page" />
				</a>
				<div class="ayopa_navigation">
					<ul>
						<li>
							<a href="http://www.ayopasoft.com/index.html">
								<img src="images/menu_bar_home.png">
							</a>
						</li>
						<li>
							<a href="http://www.ayopasoft.com/how_it_works.html">
								<img src="images/menu_bar_how.png">
							</a>
						</li>
						<li>
							<a href="http://www.ayopasoft.com/faq.html">
								<img src="images/menu_bar_faq.png">
							</a>
						</li>
						<li style="border-right:none">
							<a href="http://www.ayopasoft.com/about.html">
								<img src="images/menu_bar_about.png">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- ********************************************************************* -->
		<!-- ********************* END HEADER AND NAVIGATION ********************* -->
		<!-- ********************************************************************* -->
		
		
		
		<!-- ********************************************************************* -->
		<!-- *************************** PAGE CONTENT **************************** -->
		<!-- ********************************************************************* -->
		<div class="ayopa_site_content">
			<div class="ayopa_content_middle">
				
				<!-- ********************************************************************* -->
				<!-- **************************** TEXT BLOCK ***************************** -->
				<!-- ********************************************************************* -->
					<div class="roundedCorners">
						<div class="welcome_text">
							Welcome, USER NAME
						</div>
						<div class="date_text">
							<script >document.write((new Date().getMonth() +1) + "/" + new Date().getDate() + "/" + new Date().getFullYear() );</script>
						</div>
						<div class="clear"></div>
						<%= yield %>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				<!-- ********************************************************************* -->
				<!-- ************************** END TEXT BLOCK *************************** -->
				<!-- ********************************************************************* -->
				
			</div>
		</div>
		<!-- ********************************************************************* -->
		<!-- ************************* END PAGE CONTENT ************************** -->
		<!-- ********************************************************************* -->
		
		
		
		
		<!-- ********************************************************************* -->
		<!-- ****************************** FOOTER ******************************* -->
		<!-- ********************************************************************* -->
		
		<div class="ayopa_site_footer">
			<div class="ayopa_site_footer_left"></div>
			<div class="ayopa_site_footer_right"></div>
			<div class="ayopa_site_footer_content">
				<div class="ayopa_site_footer_margin_content">
					
					<div class="ayopa_footer_copyright">
						<strong>Ayopa Software offers online retailers a revenue generation channel for their clearance and promotional inventory.  Consumers benefit from using Ayopa with a fun and easy way to get volume pricing for their strategic purchasing needs.  We strive to give our customers the best possible experience and welcome feedback on how we can improve our service for you.</strong><br /><br />
						


							<div class="ayopa_footer_social">
								<span style="position:relative; top:-8px">
								Follow Us - 
								</span>
								<a href="http://www.facebook.com/ayopasoftware">
									<img src="images/facebook-icon.png" alt="Join ayopa on facebook" title="Join ayopa on facebook" />
								</a>
								<a href="http://www.twitter.com/ayopaCEO">
									<img src="images/twitter-icon.png" alt="Follow ayopa on twitter" title="Follow ayopa on twitter" />
								</a>
								<a href="http://www.linkedin.com/company/ayopa-software?trk=fc_b">
									<img src="images/linkedin-icon.png" alt="Share ayopa with email" title="Share ayopa on with email" />
								</a>
								<a href="mailto:info@ayopasoftware.com">
									<img src="images/email-icon.png" alt="Share ayopa with email" title="Share ayopa on with email" />
								</a>
							</div>

						 Ayopa Software &copy; All rights reserved 2011.
					</div>
					
					<div class="ayopa_footer_column">
						<b>Company</b>
						<br />
						<a href="http://www.ayopasoft.com/about.html">About</a>
						<br />
						<a href="http://www.ayopasoft.com/contact.html">Contact</a>
						<br />
						<a href="http://www.ayopasoft.com/terms.html">Terms</a>
						<br />
						<a href="http://www.ayopasoft.com/privacy.html">Privacy</a>
					</div>
					<div class="ayopa_footer_column">
						<b>Learn More</b>
						<br />
						<a href="http://www.ayopasoft.com/faq.html">FAQ</a>
						<br />
						<a href="http://www.ayopasoft.com/how_it_works.html">How it works</a>
						<br />
						<a href="http://www.ayopasoft.com/partner.html">Partner with ayopa</a>
					</div>
					
					
					<br />
					<div style="text-align:center; margin-top:115px">
						<a href="http://www.happyjacksoftware.com" target="_blank">
							<img src="images/powered_by.png">
						</a>
					</div>
				</div>
				
			</div>
			
		</div>
		<!-- ********************************************************************* -->
		<!-- **************************** END FOOTER ***************************** -->
		<!-- ********************************************************************* -->
		<div class="clear"></div>
	</div>
</body>
</html>
